name: CI/CD Pipeline

on:
  push:
    branches:
        main
  workflow_dispatch:

jobs:
  build-test-scan-push:
    name: Build, Test, Scan & Push
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
  
      - name: Checkout repository
        uses: actions/checkout@v4

  
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

   

 
      - name: Build backend image
        run: |
          docker build \
            -t ${{ secrets.DOCKER_USERNAME }}/backend:staging \
            ./backend

   
      - name: Run backend tests
        run: |
          docker run --rm \
            ${{ secrets.DOCKER_USERNAME }}/backend:staging \
            pytest -p no:cacheprovider || true

      - name: Trivy vulnerability scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKER_USERNAME }}/backend:staging
          format: table
          severity: HIGH,CRITICAL
          exit-code: 0

      - name: Build frontend image
        run: |
          docker build \
            -t ${{ secrets.DOCKER_USERNAME }}/frontend:staging \
            ./frontend

      
      - name: Push Docker images
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/backend:staging
          docker push ${{ secrets.DOCKER_USERNAME }}/frontend:staging
